*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  text-box-trim: trim-both;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  font-weight: bold;
  padding: 5px 7.5px;
  margin: -5px -7.5px;
  &:hover {
    text-decoration: underline;
  }
}

div {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

body {
  -webkit-font-smoothing: antialiased;

  background-color: #fafaed;

  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 17;
  line-height: 1.5;
  color: #333;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.025em;
  word-spacing: 0.1em;
  font-variant-ligatures: none;
}

#root {
  display: block;
}

#main {
  max-width: 670px;
  margin: 0 auto;
  padding: 25px 10px 50px;
  gap: 20px;
}

#nav {
  gap: 20px;
  padding-bottom: 20px;
}

#homelink {
  flex-direction: row;
  color: darkred;
}

#breadcrumbs {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding-left: 40px;

  div {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 0;

    &:first-child {
      margin-left: -40px;
    }
  }

  a {
    color: darkgreen;
  }

  span {
    font-size: 10px;
  }
}

.tree {
  padding-left: 40px;

  li {
    list-style-type: disc;
  }

  li > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  a {
    /* margin: 20px 0; */
  }
}

.content {
  gap: 25px;

  h1 {
    font-size: 24px;
    text-align: center;
  }
}

p {
  /* margin: 25px 0; */
}

.plain {
  text-indent: 20px;
}

.info {
  font-style: italic;
  text-align: center;
}

.call {
  text-transform: uppercase;
  text-align: center;
}

.lines {
  padding-left: 40px;
  white-space: pre-wrap;
}
