body {
  background-color: #fafaed;

  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 16;
  color: #333;

  letter-spacing: 0.025em;
  word-spacing: 0.1em;
  font-variant-ligatures: none;
}

details[open] > summary > div > svg {
  transform: rotate(90deg);
}
