body {
  background-color: #fafaed;

  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 16;
  color: #333;

  letter-spacing: 0.025em;
  word-spacing: 0.1em;
  font-variant-ligatures: none;
}

.treebar {
  display: none;
}
.open > div > div > .treebar {
  display: block;
}
.open > div > div > div > svg {
  transform: rotate(90deg);
}

[id] {
  scroll-margin-top: 120px;
}
